.navBar {
  position: sticky;
  top: 0px;
  background-color: #34107a;
  color: white;
  padding: 0px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.nav-items {
  padding: 0px;
  margin: 0px;
  list-style: none;
  display: flex;
  align-items: center;
  gap: 20px;
}

.login-button {
  padding: 3px;
}
